spring:
  application:
    name: sca-be
  server:
    port: 8080

  profiles:
    default: dev

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  management:
    endpoints:
      web:
        exposure:
          include: health
    endpoint:
      health:
        show-details: always

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket: ${AWS_S3_BUCKET}
    region:
      static: ap-northeast-2
    stack:
      auto: false