spring:
  application:
    name: sca-be
  server:
    port: 8080

  profiles:
    active: dev

  management:
    endpoints:
      web:
        exposure:
          include: health
    endpoint:
      health:
        show-details: always